<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EventEaseApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass sidebar">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door"></span> Home
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="eventcard">
            <span class="bi bi-calendar-plus"></span> Add Events
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="eventdetails">
            <span class="bi bi-info-circle"></span> Event Details
         </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="events">
            <span class="bi bi-calendar-event"></span> Events
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="register">
            <span class="bi bi-person-plus"></span> Register
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="login">
            <span class="bi bi-box-arrow-in-right"></span> Login
        </NavLink>
        </div>
    </nav>
</div>

    

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
